body{
background-color: black;
width: 80%;
max-width: 1000px;
margin: auto;
}
p{
color: aqua;
font-size: 12pt;
}

h1{
color: aquamarine;
font-size: 12pt
}

h2{
color: chartreuse;
font-size: 18pt
}

h3{
color: crimson;
font-size: 12pt
}

li{
color: aqua;
font-size: 12pt
}
#Fold{
background-color: darkblue;
}

#Savannah{
background-color: dimgray; 
}

#Bengali{
background-color: rgba(128, 0, 117, 0.514);
}
.li2{
color: red;
}

#ids{
padding-left: ;




}
a{
border: 3px solid purple;
border-radius: 100px;
text-decoration: none;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
background-color: azure;
margin-right: 20px;


}

a:hover{
color: blue;
background: yellow;
}

img{
width: 1000%;
}